* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Vollkorn', Georgia, serif;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

/* GRID GERAL */
.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px; /* DIVIDE TODA A TELA EM 3 GRIDS */
    grid-template-areas: 
        "header header header"
        "sidenav content anuncios"
        "footer footer footer"
    ;
}
.header {
    grid-area: header;

    background: linear-gradient(135deg, #8844EE, #B07DFB); /*CRIA O GRADIENTE DA NAVBAR*/
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto; /*DEIXA A MARCA DE UM LADO E O MENU DE OUTRO LADO*/
    align-items: center;
}

.logo {
    max-width: 200px;
}

/* TORNA OS ITENS DO MENU EM LINHA */
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    
}

/* CRIA TIPO UMA CAIXA NO a PRA AREA DE CONTATO DO USUARIO SER MAIOR */
.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.2s; /*TRANSITION É SEMPRE NO ITEM NÃO NO HOVER*/
    
}

.header nav a:hover {
    background: rgba(0,0,0,.5);
}

/*TODO li QUE VIER APOS UM li adicione os 30px*/
/* NO PRIMEIRO ELE NÃO VAI ADICIONAR PORQUE ELE NÃO VEM APOS NENHUM */
.header li + li{
    margin-left: 30px;
}

/* SIDENAV */
.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    transition: .2s ease-out; /*QUANDO SAIR, SAIR MAIS SUAVE*/
}

.sidenav li a:hover {
    background: #B07DFB;
}

/* CONTENT - PARTE PRINCIPAL  */
.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.col-wide {
    grid-column: 1 / -1; /*A COLUNA VAI SE ESPANDIR DE PONTA A PONTA*/
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em; /*ESPAÇAMENTO ENTRE AS LETRAS*/
    color: rgba(0,0,0,.7);
}

.informacoes p + p {
    margin-top: 30px;
}

/* TITULO */
.titulo {
        color: #B07DFB;
}

.titulo h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-size: 0.875em;
    font-style: italic;
}

.caracteristicas {
    display: flex;
    align-items: flex-start;
}

/* FALA COM TODAS AS div QUE ESTÃO DIRETAMENTE DENTRO DE caracteristicas */
.caracteristicas > div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844EE, #B07DFB);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    position: relative; /*COLOCA RELATIVE AQUI PORQUE É A DIV QUE TÁ SEGURANDO OS spans DE ROTULO*/
}

/*PRA FALAR SOMENTE COM A PRIMEIRA DIV DENTRO DE caracteristicas*/
.caracteristicas > div:first-child {
    margin-right: 30px;
}

.caracteristicas span {
    display: block;
    color: #B07DFB;
}

.numero {
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.rotulo {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative; /*COLOCA RELATIVE PRA PODER INFLUENCIAR OS VALORES DE TOP*/
    top: 2px;
}

.destaque {
    font-size: 0.875em;
    color: #B07DFB;
    max-width: 16em;
}

.citacao, 
.atributos {
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #8844EE, #B07CFB);
}

.citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}

.atributos li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}

.atributos li + li {
    border-top: 2px solid #B07CFB;
}


/* ANUNCIOS */
.anuncios {
    grid-area: anuncios;
    background: #fafbfc;
    display: grid;
    align-content: flex-start;
    padding: 30px;
    gap: 30px; /*NÃO ADICIONA ESPAÇO NAS LATERAIS DOS ELEMENTOS, SOMENTE ENTRE ELES*/
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));/*RESOLVE A PARTE DE RESPONSIVIDADE*/ 
    /*TENTA ENCAIXAR EM UMA COLUNA OS ELEMENTEO DE ATÉ 150PX, OS ELEMENTOS QUE NÃO COUBER ELE QUEBRA E VIRA DUAS LINHAS */
}

/* FOOTER */
.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844EE, #B07DFB);    
}

.footer p {
    color: white;
    text-align: center;
    padding: 30px;
}

/* FAZ A ANIMAÇÃO DA SETA  */
@keyframes seta {
    from {
        right: 30px;
    }
    to {
        right: 15px;
    }
}

/* PARTE DA ESTRUTUDA DO SITE  */
@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas: 
        "header header header"
        "sidenav content content"
        "sidenav anuncios anuncios"
        "footer footer footer"
        ;
    }
}

@media (max-width: 760px) {
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "sidenav"
        "content"
        "anuncios"
        "footer"
        ;
    }

    .header {
        grid-template-columns: auto;
    }

    .header nav a {
        font-size: 1em;
    }

    .header li + li {
        margin-left: 10px;
    }

    .logo {
        margin-bottom: 20px;
    }

    /* PARTE DO SIDENAVE */

    .sidenav {
        overflow-x: auto ; /*CRIA A BARRA DE SCROOL LATERAL*/
        -webkit-overflow-scrolling: touch; /*MUDA A BARRA DE ROLAGEM NOS DISPOSITIVOS*/
        -ms-overflow-style: -ms-autohiding-scrollbar; /*ESCONDE A BARRA EM DISPOSITIVOS MICROSOFT*/
        position: relative;
    }

    .sidenav::after {
        content: "⭢";
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0,0,0,.6);
        animation: seta .5s ease-in 0s infinite alternate; /*ATIVA A ANIMAÇÃO CRIADO ACIMA*/
    }

    .sidenav ul{
        display: flex;
    }
    
    .sidenav li {
        flex: 1 0 60px;
    }

    .sidenav {
        padding: 0 30px;
    }

    .sidenav li a {
        margin: 30px 30px 30px 0;
    }

    .sidenav {
        overflow-x: auto ;
    }    
}

/* PARTE DO CONTENT */
@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
        margin: 0 auto;
    }
}
